DATABASE_URL=postgres://epinfresh:epinfresh@localhost:5432/epinfresh
REDIS_URL=redis://localhost:6379
SESSION_SECRET=change-me-to-a-random-string

# WWW API
WWW_PORT=3000

# admin API
ADMIN_PORT=3001
